th {
    text-align: left;
    background-color: rgb(175, 175, 175);
}

tr:nth-child(even) {
    background-color: rgb(225, 225, 225);
}

th, td {
    padding: 10px;
    border: 1px solid black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}